/* 
 * Setting up some variables for colors
 */
:root {
    --headingColor: #36454F;
    --coolBlue: #6495ED;
    --backgroundColor: #d9dcd6
}

/*
 * Modifies the Body, adding a background color
 */
body {
    background-color: var(--backgroundColor);
    margin: 0;
}

/* 
 * Sets header to take up width of screen, gives background color and formats the two sections.
 */
header {
    width: 100%;
    background-color: var(--headingColor);
    top: 0;
    display: flex;
    justify-content: space-between;
}

/* 
 * Gives the main header with the name a background color and puts it in a position and sets text size.
 */
h1 {
    background-color: var(--coolBlue);
    padding-left: 20px;
    font-size: 40px;
}


/* 
 * Styles the nav, calling the display and moving it down in the header.
 */
nav {
    display: flex;
    background-color: var(--headingColor);
    margin-top: 45px;
}

/*
 * Styles the anchors in nav, giving a background color and making the font bigger.
 */
a {
    margin-right: 20px;
    font-size: large;
    color: #6495ED;
}

/*
 * Makes the font size slightly bigger.
 */
p {
    font-size: 16px;
}

/*
 * Styling for the section below the header, giving a background image and setting up flex
 * between the picture and the heading
 */
#picture-section {
    width: 100%;
    height: 430px;
    background-image: url("../images/cool-background.png");
    background-size: cover;
    display: flex;
    justify-content: space-between; 
    align-items: end;
}

/*
 * Sizing the picture and moving it off the side of the screen
 */
#profile {
    height: 400px;
    width: 300px;
    margin: 15px;
}

/*
 * Styling the heading in background section
 */
h2 {
    font-size: 35px;
    margin-right: 25px;
    background-color: var(--coolBlue);
}

/*
 * Setting the display and width for all the sections with content
 */
#about-me-sect, #work-sect, #contact-me-sect {
    display: flex;
    width: 100%;
}

/*
 * Styles all the headings on the left of the screen
 */
h3 {
    margin-left: 80px;
    font-size: 30px;
    color: var(--coolBlue);
}

/*
 * Moves the content of the side of the screen and sets 
 */
#about-me-para, #work-cards, #contact-me-content {
    padding-left: 30px;
    padding-right: 30px;
    border-left: 5px solid blue;
}

#work-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#first-proj {
    height: 500px;
    position: relative;
    line-height: 8px;
    border: 4px solid black;
    flex: 2 0 95%;
    margin: 10px;
    min-width: 400px;
}

.cards {
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    position: relative;
    line-height: 8px;
    border: 4px solid black;
    flex: 1 0 400px;
    margin: 10px;
}

#work-sect img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

h4 {
    font-size: 16px;
}

#first-proj-content {
    background-color: var(--coolBlue);
    display: inline-block;
    position: absolute;
    top: 300px;
}

.other-cards-content {
    background-color: var(--coolBlue);
    display: inline-block;
    position: absolute;
    top: 100px;
}

#contact-me-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

h5, #github {
    font-size: 22px;
    margin-right: 10px;
    margin-left: 10px;
}

#github {
    background-color: var(--backgroundColor);
    margin-top: 25px;
}

#about-me-h {
    margin-right: 50px;
}

#work-h {
    margin-right: 56px
}

#contact-me-h {
    margin-right: 10px;
}

.cards:hover, #first-proj:hover {
    box-shadow: 0px 0px 10px black, 0px 0px 10px black;
    margin: 5px;
    transition: margin 0.5s, transform 1.5s;
}

#work-sect img:hover {
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .cards {
        height: 100px;
        flex: 1 0 200px;
        margin: 10px;
    }

    #first-proj {
        height: 300px;
        margin: 10px;
        min-width: 200px;
    }

    #first-proj-content {
        top: 200px;
    }

    .other-cards-content {
        line-height: 1px;
        top: 30px;
    }
}

@media screen and (max-width: 768px) {

    header, #contact-me-content, #about-me-sect, #work-sect, #contact-me-sect {
        flex-direction: column;
    }

    nav {
      flex-direction: column;
      margin-top: 10px;
    }
    a {
        margin-bottom: 10px;
    }

    #picture-section {
        display: flex;
        flex-direction: column;
        height: 550px;
    }

    h2 {
        font-size: 35px;
        margin-right: 25px;
        background-color: var(--coolBlue);
    }

    #about-me-para, #work-cards, #contact-me-content {
        padding-left: 10x;
        padding-right: 10px;
        border-top: 5px solid blue;
        border-left: none;
    }

    .cards {
        flex: 1 0 150px;
        margin-right: 2px;
        margin-left: 2px;
    }

    #first-proj {
        min-width: 145px;
        margin-right: 2px;
        margin-left: 2px;
    }

    h5, #github {
        font-size: 16px;
    }
  }