:root {
    --headingColor: #36454F;
    --coolBlue: #6495ED;
    --backgroundColor: #d9dcd6
}

/*
 * Modifies the Body, adding a background color
 */
body {
    background-color: var(--backgroundColor);
    margin: 0;
}

header {
    width: 100%;
    background-color: var(--headingColor);
    top: 0;
    display: flex;
    justify-content: space-between;
}

h1 {
    background-color: var(--coolBlue);
    padding-left: 20px;
    font-size: 40px;
}

nav {
    display: flex;
    background-color: var(--headingColor);
    margin-top: 45px;
}



a {
    margin-right: 20px;
    font-size: large;
    color: #6495ED;
}

p {
    font-size: 16px;
}

#picture-section {
    width: 100%;
    height: 430px;
    background-image: url("../images/cool-background.png");
    background-size: cover;
    display: flex;
    justify-content: space-between; 
    align-items: end;
}

#profile {
    height: 400px;
    width: 300px;
    margin: 15px;
}

h2 {
    font-size: 35px;
    margin-right: 25px;
    background-color: var(--coolBlue);
}

#about-me-sect, #work-sect, #contact-me-sect {
    display: flex;
    width: 100%;
}

h3 {
    margin-left: 80px;
    font-size: 30px;
    color: var(--coolBlue);
}

#about-me-para, #work-cards, #contact-me-content {
    padding-left: 30px;
    padding-right: 30px;
    border-left: 5px solid blue;
}

#work-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#first-proj {
    height: 500px;
    position: relative;
    line-height: 8px;
    border: 4px solid black;
    flex: 2 0 95%;
    margin: 10px;
    min-width: 400px;
}

.cards {
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    position: relative;
    line-height: 8px;
    border: 4px solid black;
    flex: 1 0 400px;
    margin: 10px;
}

#work-sect img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

h4 {
    font-size: 16px;
}

#first-proj-content {
    background-color: var(--coolBlue);
    display: inline-block;
    position: absolute;
    top: 300px;
}

.other-cards-content {
    background-color: var(--coolBlue);
    display: inline-block;
    position: absolute;
    top: 100px;
}

#contact-me-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

h5, #github {
    font-size: 22px;
    margin-right: 10px;
    margin-left: 10px;
}

#github {
    background-color: var(--backgroundColor);
    margin-top: 25px;
}

#about-me-h {
    margin-right: 50px;
}

#work-h {
    margin-right: 56px
}

#contact-me-h {
    margin-right: 10px;
}

.cards:hover, #first-proj:hover {
    box-shadow: 0px 0px 10px black, 0px 0px 10px black;
    margin: 5px;
    transition: margin 0.5s, transform 1.5s;
}

#work-sect img:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
    }
    a {
        margin-bottom: 10px;
    }
  }